.banner {
    background-color: #222; 
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    color: white;
    padding: 20px;
}

.slogan {
    font-size: 1.5rem;
}

.slogan h2 {
    margin: 0;
    font-size: 2rem;
    background: linear-gradient(to right, #8A2BE2, #40E0D0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.slogan p {
    margin: 0;
    font-size: 1.2rem;
    color: #aaa;
}